.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
build/
.idea/
app/app.iml
*.iml

# Blender auto-saves these backup files periodically
*.blend1

# Vim swap files
*.sw?

# exclude private configuration file
/app/src/main/res/values/config.xml
